
{% extends 'base.html'%}

{% block content %}
<br> <br> <br> <br> <br> <br> <br>
<h3 class="mb-2" style="text-align: center; " >User Profile</h3>
<div class="container">
    <div class="card">
        <div class="row">
            <!-- displaying  Username-->
            <div class="col-md-4 m-4">
                {% if user.profile_pic_path %}
                <img class="rounded-circle" src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
                {%else%}
                <img src="" alt="profile-pic">
                {% endif %}
            </div>
            <div class="col-md-4 mt-4">
                <h3> {{user.username| capitalize}} </h3>
                <!--Displaying user bio-->
                {% if user.bio %}
                <p> {{user.bio}}</p>
                {%else%}
                <p>{{user.username| capitalize}} Has not Updated bio </p>
                <p> Email: <a href="#">{{current_user.email}}</a></p>
                <p>Phone Number: {{ user.phone_no }}</p>
                <p>House Number: {{user.room_no}}</p>
                {% endif %}
            </div>
            <!--Display profile photo-->
            <div class="col-md-4">
                
                {% if user == current_user %}
                <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit Bio</a>
                {% endif %}
                {% if user == current_user %}
                <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post"
                    enctype="multipart/form-data">
    
                    <input type="file" name="photo" class="form-control" required>
                    <input type="submit">
                </form> <br> 
                <h5> <a href="">Update Rent Detailes</a></h5>
                {% endif %}
            </div>
        </div>
    </div>
   {% endblock %}
