
{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<br> <br>  <br> <br> <br> <br>
{% for tenant in tenants%}
<img src="" alt="Profile-pic">
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h6>Tenant Name : <a class="article-title" href="">{{ tenant.username }}</a></h6>
      <p>House Number : {{ tenant.room_no }}</p>
      <p>Phone Number : {{ tenant.phone_no }}</p>
      <p>Bio : {{ tenant.bio }}</p>
    </div>
  </div>
</article> <hr>
{% endfor %}

{% endblock %}